# Domain configuration
# The base domain for the production deployment (e.g. example.com)
PROD_DOMAIN=yourdomain.tld

# The branding name used in the website and emails
BRAND_NAME=yourbrand.tld

# The primary email for contact/notifications
CONTACT_EMAIL=info@yourbrand.tld
