Port 22
ListenAddress 127.0.0.1
HostKey /home/dev/.ssh-host/ssh_host_ed25519_key
PidFile /tmp/sshd.pid
AuthorizedKeysFile /var/lib/dev-shell/authorized_keys/%u
AllowUsers patrick gekko
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM no
StrictModes yes
X11Forwarding no
AllowTcpForwarding local
AllowAgentForwarding no
AllowStreamLocalForwarding no
PermitTunnel no
GatewayPorts no
PermitUserEnvironment no
SetEnv KUBERNETES_SERVICE_HOST=kubernetes.default.svc KUBERNETES_SERVICE_PORT=443 DISABLE_AUTOUPDATER=1
Subsystem sftp internal-sftp
